@import '_header';
@import '_footer';

body {
    background-image: url(../images/landing-img/background.png);
    display: flex;
    flex-direction: column;
    max-width: 1250px;
    width: 100%;
}

.about {
    width: 100%;
}

h2 {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: start;
    letter-spacing: 0.02em;
    color: white;
    margin: 20px;
}

p {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-align: start;
    letter-spacing: 0.02em;
    color: white;
    margin: 20px;
}